In [28]:
import pandas as pd
from hdfs import InsecureClient
import numpy as np

In [29]:
road = pd.read_csv('Road_accident.csv', delimiter=',')

In [30]:
road.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307973 entries, 0 to 307972
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident_Index              307973 non-null  object
 1   Accident Date               307973 non-null  object
 2   Day_of_Week                 307973 non-null  object
 3   Junction_Control            307973 non-null  object
 4   Junction_Detail             307973 non-null  object
 5   Accident_Severity           307973 non-null  object
 6   Latitude                    307973 non-null  float64
 7   Light_Conditions            307973 non-null  object
 8   Local_Authority_(District)  307973 non-null  object
 9   Carriageway_Hazards         5424 non-null    object
 10  Longitude                   307973 non-null  float64
 11  Number_of_Casualties        307973 non-null  int64
 12  Number_of_Vehicles          307973 non-null  int64
 13  Police_Force                307973 non-null  object
 14  Road_Surface_Conditions     307656 non-null  object
 15  Road_Type                   306439 non-null  object
 16  Speed_limit                 307973 non-null  int64
 17  Time                        307956 non-null  object
 18  Urban_or_Rural_Area         307973 non-null  object
 19  Weather_Conditions          301916 non-null  object
 20  Vehicle_Type                307973 non-null  object
dtypes: float64(2), int64(3), object(16)
memory usage: 49.3+ MB

In [31]:
road.head()

,Accident_Index,Accident Date,Day_of_Week,Junction_Control,Junction_Detail,Accident_Severity,Latitude,Light_Conditions,Local_Authority_(District),Carriageway_Hazards,...,Number_of_Casualties,Number_of_Vehicles,Police_Force,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200901BS70001,1/1/2021,Thursday,Give way or uncontrolled,T or staggered junction,Serious,51.512273,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,One way street,30,15:11,Urban,Fine no high winds,Car
1,200901BS70002,1/5/2021,Monday,Give way or uncontrolled,Crossroads,Serious,51.514399,Daylight,Kensington and Chelsea,NaN,...,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59,Urban,Fine no high winds,Taxi/Private hire car
2,200901BS70003,1/4/2021,Sunday,Give way or uncontrolled,T or staggered junction,Slight,51.486668,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19,Urban,Fine no high winds,Taxi/Private hire car
3,200901BS70004,1/5/2021,Monday,Auto traffic signal,T or staggered junction,Serious,51.507804,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Frost or ice,Single carriageway,30,8:10,Urban,Other,Motorcycle over 500cc
4,200901BS70005,1/6/2021,Tuesday,Auto traffic signal,Crossroads,Serious,51.482076,Darkness - lights lit,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,17:25,Urban,Fine no high winds,Car

In [32]:
road['Carriageway_Hazards'].unique()

array([nan, 'Pedestrian in carriageway - not injured',
       'Other object on road',
       'Any animal in carriageway (except ridden horse)',
       'Previous accident', 'Vehicle load on road'], dtype=object)

In [33]:
road['Accident Date'] = pd.to_datetime(road['Accident Date'], format='%m/%d/%Y')
road['Carriageway_Hazards'] = road['Carriageway_Hazards'].fillna('no obstacles')
road['Latitude'] = road['Latitude'].round(2)
road['Longitude'] = road['Longitude'].round(2)

In [34]:
date = pd.read_csv('Dates.csv', delimiter=',')

In [35]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 12 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Sl. No                              1096 non-null   int64
 1   Name of Incident                    1096 non-null   object
 2   Date                                1096 non-null   object
 3   Month                               1096 non-null   object
 4   Year                                1096 non-null   object
 5   Country                             1096 non-null   object
 6   Type of Event                       1096 non-null   object
 7   Place Name                          1096 non-null   object
 8   Impact                              1096 non-null   object
 9   Affected Population                 1096 non-null   object
 10  Important Person/Group Responsible  1096 non-null   object
 11  Outcome                             1096 non-null   object
dtypes: int64(1), object(11)
memory usage: 102.9+ KB

In [39]:
date.head(10)

,Sl. No,Name of Incident,Date,Month,Year,Era,Country,Type of Event,Place Name,Impact,Affected Population,Important Person/Group Responsible,Outcome,CombinedDate
0,1,Indus Valley Civilization Flourishes,0,Unknown,2600,BC,India,Civilization,Indus Valley,Development of one of the world's earliest urb...,Local inhabitants,Indus Valley people,Positive,2600
1,2,Battle of the Ten Kings,0,Unknown,1400,BC,India,Battle,Punjab,Rigvedic tribes consolidated their control ove...,Rigvedic tribes,Sudas,Positive,1400
2,6,Establishment of the Delhi Sultanate,0,Unknown,1206,AD,India,Political,Delhi,Muslim rule established in parts of India,People of Delhi and surrounding regions,QutbUnknownudUnknowndin Aibak,Mixed,1206
3,7,Battle of Panipat,21,April,1526,AD,India,Battle,Panipat,Foundation of the Mughal Empire in India,Northern Indian kingdoms,Babur,Mixed,1526-April-21
4,8,Establishment of British Raj,1,May,1858,AD,India,Colonial,Whole India,Start of direct British governance in India,Indian subcontinent,British East India Company/Empire,Negative,1858-May-1
5,9,Partition of India,15,August,1947,AD,India,Partition,India/Pakistan,Creation of India and Pakistan; massive popula...,"Hindus, Muslims, Sikhs","British Empire, Indian political leaders",Negative,1947-August-15
6,10,IndoUnknownPakistani War of 1971,3,December,1971,AD,India,War,Bangladesh,Led to the independence of Bangladesh,Bengalis in East Pakistan,"Indian Military, Mukti Bahini",Negative,1971-December-3
7,11,PokhranUnknownII Nuclear Tests,11,May,1998,AD,India,Nuclear Test,Pokhran,India declared itself a nuclear state,International community,Atal Bihari Vajpayee,Mixed,1998-May-11
8,12,Mumbai Terror Attacks,26,November,2008,AD,India,Terrorism,Mumbai,Highlighted the threat of international terrorism,Citizens of Mumbai,LashkarUnknowneUnknownTaiba,Negative,2008-November-26
9,13,Arrival of Vasco da Gama,20,May,1498,AD,India,Exploration,Calicut,Marked the beginning of European colonial inte...,Coastal communities,Vasco da Gama,Negative,1498-May-20

In [37]:
date['Date'] = date['Date'].replace('Unknown', pd.NA)
date['Date'] = pd.to_numeric(date['Date'], errors='coerce').fillna(0).astype(int)
date.insert(date.columns.get_loc('Year') + 1, 'Era', date['Year'].apply(lambda x: 'BC' if 'BC' in x else 'AD'))
date['Year'] = date['Year'].str.replace('BC', '')
date['Year'] = date['Year'].astype(int)
date['CombinedDate'] = date['Year'].astype(str) + '-' + date['Month'].astype(str) + '-' + date['Date'].astype(str)
date['CombinedDate'] = date['CombinedDate'].replace('-Unknown-0', '', regex=True)

In [38]:
road.to_parquet('road_accident.parquet.gzip',compression='gzip')
date.to_parquet('world_important_dates.parquet.gzip',compression='gzip')